<main class="container">
    <h2>Pets</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Espécie</th>
                <th>Raça</th>
                <th>Idade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umPet of listaPets">
                <td>{{umPet.nome}}</td>
                <td>{{umPet.especie}}</td>
                <td>{{umPet.raca}}</td>
                <td>{{umPet.idade}}</td>
                <td><a (click)="alterar(umPet)"
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>

    </table>
</main>
