<main class="container">
    <h2>Produtos</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umProduto of listaProdutos">
                <td>{{umProduto.nome}}</td>
                <td>{{umProduto.descricao}}</td>
                <td>{{umProduto.quantidade}}</td>
                <td>{{umProduto.preco}}</td>
                <td><a (click)="alterar(umProduto)"
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>
    </table>
</main>