<main class="container">
    <h2>Serviços</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umServico of listaServicos">
                <td>{{umServico.tipo}}</td>
                <td>{{umServico.descricao}}</td>
                <td>{{umServico.preco}}</td>
                <td><a (click)="alterar(umServico)" 
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>

    </table>
</main>
