<main class="container">
    <h2>Agendamentos</h2>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtDataHora">Data e Hora</label>
                <input type="date" [(ngModel)]="agendamento.dataHora" class="form-control" id="txtDataHora">
            </div>
            <div class="form-group">
                <label for="txtStatus">Status</label>
                <input type="text" [(ngModel)]="agendamento.status" class="form-control" id="txtStatus">
            </div>
            <div class="form-group">
                <label for="txtPets">Pets</label>
                <input type="text" [(ngModel)]="agendamento.pets" class="form-control" id="txtPets">
            </div>
            <div class="form-group">
                <label for="txtServico">Serviço</label>
                <input type="text" [(ngModel)]="agendamento.servico" class="form-control" id="txtServico">
            </div>
            <div class="form-group">
                <label for="txtCliente">Cliente</label>
                <input type="text" [(ngModel)]="agendamento.cliente" class="form-control" id="txtCliente">
            </div>
        </div>
        
        <button (click)="salvar()" 
            class="btn btn-primary">Salvar</button>

    </div>
</main>
