<main class="container">
    <h2>Agendamentos</h2>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtDataHora">Data e Hora</label>
                <input type="date" [(ngModel)]="agendamento.dataHora" class="form-control" id="txtDataHora">
            </div>
            <div class="form-group">
                <label for="txtStatus">Status</label>
                <input type="text" [(ngModel)]="agendamento.status" class="form-control" id="txtStatus">
            </div>
            <div class="form-group">
                <label for="txtPets">Pets</label>
                <select id="txtPets" [(ngModel)]="agendamento.pets" class="form-select" [compareWith]="compararPets">
                    <option *ngFor="let umPet of listaPets" [ngValue]="umPet">{{ umPet.nome }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="txtServico">Serviços</label>
                <select id="txtServico" [(ngModel)]="agendamento.servico" class="form-select" [compareWith]="compararServicos">
                    <option *ngFor="let umServico of listaServicos" [ngValue]="umServico">{{ umServico.tipo }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="txtCliente">Cliente</label>
                <select id="txtCliente" [(ngModel)]="agendamento.cliente" class="form-select" [compareWith]="compararClientes">
                    <option *ngFor="let umCliente of listaClientes" [ngValue]="umCliente">{{ umCliente.nome }}</option>
                </select>
            </div>
        </div>
        
        <button (click)="salvar()" 
            class="btn btn-primary">Salvar</button>

    </div>
</main>
